<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Swaraj Abhiyan - Offical Website</title>
    [[HEADER-CSS]]
</head>

<body>

<!--Kode Wrapper Start-->
<div class="kode_wrapper">

    <!--Header Wrap Start-->
    <header>
        [[HEADER-MENU]]
    </header>
    <!--Header Wrap Start-->


    [[BODY]]


<!--Footer Wrap Start-->
<footer>
    [[FOOTER-MENU]]
</footer>
<!--Footer Wrap End-->


</div>
<!--Kode Wrapper End-->
[[FOOTER-JS]]
</body>
</html>