<div class="kode_wrapper">
<!--Team Wrap Start-->
<div class="kode-team-intro">
    <div class="container">
        <div class="kode_background">
            <div class="row">
                <div class="col-md-4">
                    <div class="kode_team_img">
                        <figure>
                            <img th:src="|${s3_static_content_dir}/images/blogs/yy|" alt="Image Here"/>
                        </figure>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="kode_team_img_des">
                        <h4>'Thanks for wishing us failure in traditional politics': Yogendra Yadav </h4>
                        <p>

                            Dear well-wisher,<br/>
                            Thanks for wishing us failure, in traditional politics. You are right, that is not where and how Swaraj India seeks to succeed.
                            Thank God there are "impractical" persons like you still around in the world. If practicality is about remaining confined within the prison of the given, then this world needs more impractical people.
                            And thanks also for your advice. You are right, people care more for how a party "touches and changes their lives" and much less for how it conducts itself internally. But isn't that a pity? Should we not visualize a political eco-system where those who talk about democracy also practice it within their organization? Or am I being "impractical" now? As for "corruption", I can assure you that it is not our sole agenda. Swaraj India has adopted a vision document "Swaraj Darshan" that spells out our policy perspective on a wide range of issues. We have taken position on Dengue and Chikungunya and propose to follow it up with public action. I can promise you that as a recent victim of Chikungunya!
                            I have only one quibble. Two years is too long a period to judge a probationer (Supreme Court does not allow more than 11 months for confirmation!). Judge us harshly but judge us quickly and do join this effort if we pass your test.
                            Hoping to meet you earlier, but after two years, if you must.<br/>
                            Yours<br/>
                            A fellow-traveller


                        </p>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Team Wrap End-->

<!--Background Wrap Start-->
<div class="kode-team-bio">
    <div class="container">
        <div class="kode_bground_des">
            <h4>Dynamic Contents</h4>
       <!--<p>गुरुवार को हमने प्रेस कॉन्फ्रेंस करके बताया कि किस तरह देश की दोनों मुख्य पार्टियाँ राष्ट्रीय सुरक्षा से जुड़े मुद्दों पर सांठगांठ करते हुए समझौता कर रही हैं। मीडिया ने असल मामले पर बात करने की बजाए वरुण गाँधी के हनी ट्रैपिंग पर ही सारा ध्यान केंद्रित कर दिया। इसलिए जरूरी हो जाता है कि मामले को गंभीरता से जानें, समझें और सवाल करें। जानना चाहते हैं? तो सुनिये..-->
           <!--आपको याद होगा कि मई 2005 में कॉंग्रेस शाषण में “नेवी वार रूम लीक” का सनसनीखेज़ मामला सामने आया था। उस मामले में अभिषेक वर्मा नाम का रक्षा दलाल पकड़ में आया, जिसने इंडियन नेवी के कुछ शीर्ष अधिकारियों की मदद से रक्षा सौदे से जुड़ी गुप्त जानकारियाँ लीक करवाई थी। एक पेन ड्राईव ग़ायब करवाया गया जिसमें “प्रोजेक्ट 75” की गुप्त संवेदनशील जानकारी थी। “प्रोजेक्ट 75” भारत सरकार के पनडुब्बी अधिग्रहण कार्यक्रम का कोड वर्ड था।-->
           <!--इसके बाद फ्रांस के थेलीज़ कंपनी को भारत सरकार से 18,000 करोड़ में 6 स्कॉर्पीन पनडुब्बी का कॉन्ट्रेक्ट मिल जाता है। भारतीय एजेंसियों की जांच और आउटलुक पत्रिका के इन्वेस्टिगेशन से पता चला कि थेलीज़ कंपनी ने स्कॉर्पीन कॉन्ट्रेक्ट पाने के लिए भारी रकम घूस या दलाली के रूप में दिया। इस डील में यूपीए सरकार की तरफ़ से बिचौलिए का काम किया था अभिषेक वर्मा ने, जिसके पिताजी एक ज़माने में कॉंग्रेस सांसद थे। वर्ष 2007 में अभिषेक वर्मा को सबसे कम उम्र का अरबपति घोषित किया गया था।-->
           <!--उस वक़्त की यूपीए सरकार ने इस मसले की स्वतंत्र जांच रुकवाने में पूरी ताकत लगा दी। प्रशांत भूषण जब इस मामले को दिल्ली हाई कोर्ट ले गए तो सीबीआई ने प्रारम्भिक जांच के नाम पर सिर्फ़ खानापूर्ति की और किसी पर भी एफआईआर दर्ज़ नहीं किया। कुछ दिनों तक अदालत में मामला चलने के बाद अंततः जनवरी 2016 में दिल्ली हाई कोर्ट ने सीबीआई के बयान के आधार पर केस को रफा दफा कर दिया।-->
           <!--लेकिन अब तक देश में सत्ता परिवर्तन हो चुका था। कॉंग्रेस 44 सीटों पर सिमट गयी और केंद्र में बीजेपी की मोदी सरकार आ चुकी थी। वही बीजेपी जिसने बार बार कहा कि स्कॉर्पीन पनडुब्बी की ख़रीद में दलाली हुई है।-->
           <!--राष्ट्रवाद के नाम पर राजनीति करने वाली जिस बीजेपी ने कॉंग्रेस के इन्हीं घोटालों पर जम के शोर मचाया था, सरकार में आने पर उससे आप क्या उम्मीद करेंगे? जी हाँ, उम्मीद करेंगे कि सरकार राजनीतिक प्रतिद्वंदिता में ही सही लेकिन कुछ तो करेगी, कॉंग्रेस के काले कारनामे को उजागर करेगी, अपराधियों को सज़ा दिलवाएगी। लेकिन अफ़सोस कि ऐसा कुछ भी नहीं हुआ। जो हुआ वो आपको हैरत में डाल देगा।-->
           <!--भारतीय कानून के अनुसार रक्षा सौदों में बिचौलिए को लाने वाली कंपनियों को ब्लैकलिस्ट कर दिया जाता है। लेकिन पिछले महीने 23 सितंबर को जब खूब गाजे बाजे के साथ रफ़ाल डील पर हस्ताक्षर हो रहा था तो हमारे रक्षामंत्री के साथ उसी थेलीज़ कंपनी के सीईओ भी दिखाए दिए। जी हाँ, उसी थेलीज़ कंपनी जिसे स्कॉर्पीन डील के लिए ब्लैकलिस्ट कर देना चाहिए था। आप सोच रहे होंगे कि जब रफ़ाल विमान डील डसॉल्ट एविएशन के साथ हुआ तो मनोहर पार्रिकर के साथ थेलीज़ के सीईओ वहाँ क्या कर रहे थे। सच्चाई ये है कि थेलीज़ ग्रुप में फ्रांस सरकार के बाद सबसे बड़ा शेयर डसॉल्ट एविएशन का है। इतना ही नहीं, रफ़ाल विमान के लिए थेलीज़ और डसॉल्ट में करार है।-->
           <!--यानी कि जिस कंपनी को भारत की तरफ देखने की हिम्मत तक नहीं होनी चाहिए थी, जिस कंपनी ने साऊथ ब्लॉक के “नेवी वार रूम” से अतिसंवेदनशील गुप्त जानकारी लीक करवाई, वही आज फिर दिल्ली में हमारे साथ 59,000 करोड़ का एक नया डील कर रहा है। वो भी उस मोदी सरकार के साथ जो जानती है और मानती है कि स्कॉर्पीन पन्डूब्बी में बड़े पैमाने पर दलाली की गयी।-->
           <!--देश के दुश्मनों को मोदी सरकार आज पुरस्कृत कर रही है, लाल कालीन से स्वागत कर रही है। 36 रफ़ाल विमानों के लिए 59,000 करोड़ दिए जा रहे हैं। उनमें से लगभग 30,000 करोड़ वापस देश के अंदर इन्वेस्ट करने का करार है। मोदी जी और पार्रिकर जी इसे “मेक इन इंडिया” का चोला पहनाकर बड़ी सफलता बताने की कोशिश कर रहे हैं। क्या आपको पता है ये 30,000 करोड़ किसको मिलेंगे? फ्रांस के उसी थेलीज़ और भारत के रिलायंस डिफेन्स को..!! एक कंपनी जिसे ब्लैकलिस्ट होना चाहिए था, और दूसरी जो मुश्किल से एक साल पहले ही बनायी गयी, जिसे रक्षा उपकरणों में अब तक कोई अनुभव नहीं है। इतना ही नहीं, ये वही अनिल अंबानी ग्रुप है जिसका भारत के सरकारी बैंकों पर 1,21,000 करोड़ का बकाया है। आपको जानकार हैरानी होनी चाहिए कि दशकों के अनुभव वाली हमारी हिंदुस्तान ऐरोनौटिकल्स (HAL) के बजाये, अनुभवहीन अम्बानी को और अपराधी थेलीज़ को देश के रक्षा उपकरणों पर काम करने का मौका मिलेगा।-->
           <!--अभी 22 अगस्त 2016 को The Australian अख़बार ने 22,400 पन्नों का हवाला देते हुए भारत के स्कॉर्पीन पनडुब्बी की एक एक तकनीकी जानकारी, मैगनेटिक, इलेक्ट्रो मैगनेटिक, इन्फ्रारेड डेटा और स्टेल्थ क्षमता को दुनिया के सामने सार्वजनिक कर दिया। इसका मतलब ये हुआ कि 2005 में ख़र्च किये हमारे 18,000 करोड़ पूरी तरह बर्बाद हो गए। ये सारी गुप्त जानकारियां उसी “नेवी वार रूम” से लीक हुई थी। थेलीज़ की ये स्कॉर्पीन पनडुब्बियां पानी में बतखों से ज़्यादा कुछ भी नहीं रही, क्यूंकि दुश्मन को पहले से सटीक जानकारी होगी कि पनडुब्बीयाँ समुद्र में कहाँ है।-->
           <!--25 अगस्त और फिर 16 सितंबर को अमेरिका का व्हिसलब्लोवर एडवर्ड एलेन (जो पहले अभिषेक वर्मा का एजेंट था) ने प्रधानमंत्री मोदी, रक्षामंत्री मनोहर पर्रिकर और सुरक्षा सलाहकार अजीत डोभाल को चिट्ठी लिखकर सबूत समेत बताया कि किस तरह स्कॉर्पीन डील, नेवी वार रूम और ऐसे कई मामलों में अभिषेक वर्मा, नेवी के वरिष्ठ अधिकारी और नेताओं की संलिप्तता रही है। फ्रांस के थेलीज़ कंपनी के कारनामों के बारे में भी नए सबूतों के साथ बताया गया (जो भारतीय एजेंसियों को 2006 से ही पता था) और यह भी बताया कि संसद के रक्षा समिति के सदस्य रहे एक बीजेपी सांसद को आर्म्स डीलरों ने मोहपाश (Honey Trap) में फसाकर टॉप सीक्रेट लेते रहे। उस बीजेपी सांसद का नाम है वरुण गाँधी। इन सब के बाद भी 23 सितंबर को रफ़ाल डील पर हस्ताक्षर हुआ, जिसे हमारे रक्षामंत्री “बेस्ट डील” बताते हैं। सही ही बताते होंगे। क्या पता, उनके लिए सही में “बेस्ट डील” हो।-->
           <!--इतिहास के पन्नों में थोड़ा पीछे चलें तो याद करिये कि बोफोर्स सौदे को तत्कालीन प्रधानमंत्री राजीव गांधी ने भी “बेस्ट डील” बताया था। उस वक़्त राजीव गांधी को भी मिस्टर क्लीन बोला जाता था, लेकिन उन्होंने भी सीबीआई जांच को रफा दफा करवाने की पूरी कोशिश की। सब कुछ जैसा आज हो रहा है।-->
           <!--हमारे प्रेस कॉन्फ्रेंस में ये सभी गंभीर बातें रखी गयी थी और स्पष्ट मांगें भी की गयी। लेकिन अफ़सोस कि बीजेपी कॉंग्रेस के सांठगांठ और राष्ट्रीय सुरक्षा से समझौते के इस मामले को मीडिया ने वरुण गाँधी पर सिमटा के रख दिया। प्रेस वार्ता से पहले हमें भी डर था कि कहीं ऐसा ना हो कि असल सवाल दब जाए और एक छोटा सा हिस्सा छा जाए। हमने बार बार कहा कि ये गंभीर मामला है, राष्ट्रीय सुरक्षा से समझौता का मामला है, देश के दो मुख्य पार्टियों के घालमेल का मामला है, सिर्फ वरुण गाँधी का मामला नहीं। यही सोचकर हमने तो प्रेस कॉन्फ्रेंस में वरुण गाँधी का नाम तक नहीं लिया।-->
           <!--मज़ेदार बात है कि मनोहर पर्रिकर, वरुण गाँधी और अभिषेक वर्मा, तीनों ने हमपर मानहानि का मुकदमा करने की धमकी दी है। काश हमारे सवालों का जवाब दे देते। मुकदमा तो होता रहेगा। मोदीजी से तो हम कुछ पूछ भी नहीं सकते। वो तो सिर्फ़ “अपने मन की बात” करते हैं।-->
       <!--</p>-->
        </div>
    </div>
</div>
<!--Background Wrap End-->
    <!--Become a Volunteer Wrap Start-->
    <section class="kode_volunteer_bg">
        <div class="container">
            <div class="kode_hdg_3">
                <h6>give your best time </h6>
                <h4>become a volunteer</h4>
            </div>

            <div class="kode_volunteer">
                <p>Join us in the fight for a better tomorrow, tomorrow. It’s easy, fun and we need you. Make a difference and help create change for our children’s future,
                    plus the economy. Join today.</p>
            </div>
            <div class="kode_volunteer_btn">
                <a class="donate" href="#">
                    <i class="icon-liquid15"></i>
                    <span>Donate Today</span>
                </a>
                <a class="kf_volunteer" href="#">
                    <i class="fa fa-user"></i>
                    <span>Become voluntree</span>
                </a>
            </div>

        </div>
    </section>
    <!--Become a Volunteer Wrap End-->
</div>