<!--Event Wrap Start-->
<section class="kode_event_grid_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="kode_event_wrap">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/event-06.jpg|" alt="Image Here"/>
                        <figcaption><a data-rel="prettyPhoto[]" href="extra-images/banner-01.jpg"> <i class="icon-add52"></i> </a></figcaption>
                    </figure>
                    <div class="kode_event_des">
                        <h6><a href="event-detail.html">International Conference</a></h6>
                        <ul>
                            <li><a href="#"> <i class="fa fa-calendar"></i> 24-10-2015 </a></li>
                            <li><a href="#"> <i class="fa fa-clock-o"></i> 7:00 PM to 9:00 PM </a></li>
                            <li><a href="#"> <i class="fa fa-map-marker"></i> NY City, USA </a></li>
                        </ul>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                            consequat ipsum, nec sagittis sem nibh id elit.</p>
                        <a href="event-detail.html">Detail</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="kode_event_wrap">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/event-02.jpg|" alt="Image Here"/>
                        <figcaption><a data-rel="prettyPhoto[]" href="extra-images/banner-01.jpg"> <i class="icon-add52"></i> </a></figcaption>
                    </figure>
                    <div class="kode_event_des">
                        <h6><a href="event-detail.html">Annual Democracy Forum </a></h6>
                        <ul>
                            <li><a href="#"> <i class="fa fa-calendar"></i> 24-10-2015 </a></li>
                            <li><a href="#"> <i class="fa fa-clock-o"></i> 7:00 PM to 9:00 PM </a></li>
                            <li><a href="#"> <i class="fa fa-map-marker"></i> NY City, USA </a></li>
                        </ul>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                            consequat ipsum, nec sagittis sem nibh id elit.</p>
                        <a href="event-detail.html">Detail</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="kode_event_wrap">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/event-03.jpg|" alt="Image Here"/>
                        <figcaption><a data-rel="prettyPhoto[]" href="extra-images/banner-01.jpg"> <i class="icon-add52"></i> </a></figcaption>
                    </figure>
                    <div class="kode_event_des">
                        <h6><a href="event-detail.html">Conference on Businesses</a></h6>
                        <ul>
                            <li><a href="#"> <i class="fa fa-calendar"></i> 24-10-2015 </a></li>
                            <li><a href="#"> <i class="fa fa-clock-o"></i> 7:00 PM to 9:00 PM </a></li>
                            <li><a href="#"> <i class="fa fa-map-marker"></i> NY City, USA </a></li>
                        </ul>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                            consequat ipsum, nec sagittis sem nibh id elit.</p>
                        <a href="event-detail.html">Detail</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="kode_event_wrap">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/event-04.jpg|" alt="Image Here"/>
                        <figcaption><a data-rel="prettyPhoto[]" href="extra-images/banner-01.jpg"> <i class="icon-add52"></i> </a></figcaption>
                    </figure>
                    <div class="kode_event_des">
                        <h6><a href="event-detail.html">Human Rights Conference</a></h6>
                        <ul>
                            <li><a href="#"> <i class="fa fa-calendar"></i> 24-10-2015 </a></li>
                            <li><a href="#"> <i class="fa fa-clock-o"></i> 7:00 PM to 9:00 PM </a></li>
                            <li><a href="#"> <i class="fa fa-map-marker"></i> NY City, USA </a></li>
                        </ul>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                            consequat ipsum, nec sagittis sem nibh id elit.</p>
                        <a href="event-detail.html">Detail</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="kode_event_wrap">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/event-05.jpg|" alt="Image Here"/>
                        <figcaption><a data-rel="prettyPhoto[]" href="extra-images/banner-01.jpg"> <i class="icon-add52"></i> </a></figcaption>
                    </figure>
                    <div class="kode_event_des">
                        <h6><a href="event-detail.html">Justice and Democracy</a></h6>
                        <ul>
                            <li><a href="#"> <i class="fa fa-calendar"></i> 24-10-2015 </a></li>
                            <li><a href="#"> <i class="fa fa-clock-o"></i> 7:00 PM to 9:00 PM </a></li>
                            <li><a href="#"> <i class="fa fa-map-marker"></i> NY City, USA </a></li>
                        </ul>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                            consequat ipsum, nec sagittis sem nibh id elit.</p>
                        <a href="event-detail.html">Detail</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="kode_event_wrap">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/event-07.jpg|" alt="Image Here"/>
                        <figcaption><a data-rel="prettyPhoto[]" href="extra-images/banner-01.jpg"> <i class="icon-add52"></i> </a></figcaption>
                    </figure>
                    <div class="kode_event_des">
                        <h6><a href="event-detail.html">Human Rights Meeting</a></h6>
                        <ul>
                            <li><a href="#"> <i class="fa fa-calendar"></i> 24-10-2015 </a></li>
                            <li><a href="#"> <i class="fa fa-clock-o"></i> 7:00 PM to 9:00 PM </a></li>
                            <li><a href="#"> <i class="fa fa-map-marker"></i> NY City, USA </a></li>
                        </ul>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                            consequat ipsum, nec sagittis sem nibh id elit.</p>
                        <a href="event-detail.html">Detail</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Pagination Wrap Start-->
        <div class="kode_pagination">
            <ul class="pagination">
                <li><a aria-label="Previous" href="#">Next</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a aria-label="Next" href="#"> Previous</a></li>
            </ul>
        </div>
        <!--Pagination Wrap End-->
    </div>
</section>
<!--Event Wrap End-->