<div class="kode_content">
    <!--Welcome to Democracy Wrap Start-->
    <section class="kode_about_welcome">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="kode_wel_demo_des">
                        <!--<h6> What is Swaraj Abhiyan?</h6>-->
                        <h4>Member List</h4>

                        <p>Keep contains :- Member List</p>


                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Welcome to Democracy Wrap Start-->
    <!--Become a Volunteer Wrap Start-->
    <section class="kode_volunteer_bg">
        <div class="container">
            <div class="kode_hdg_3">
                <h6>give your best time </h6>
                <h4>become a volunteer</h4>
            </div>

            <div class="kode_volunteer">
                <p>Join us in the fight for a better tomorrow, tomorrow.
                    plus the economy. Join today.</p>
            </div>
            <div class="kode_volunteer_btn">
                <a class="donate" href="#">
                    <i class="icon-liquid15"></i>
                    <span>Donate Today</span>
                </a>
                <a class="kf_volunteer" href="#">
                    <i class="fa fa-user"></i>
                    <span>Become voluntree</span>
                </a>
            </div>

        </div>
    </section>
    <!--Become a Volunteer Wrap End-->
</div>