<div class="container">
    <div class="row">
        {{#each MediaNewsPressReleaseListPlugin}}

        <div class="col-md-12 col-sm-12 col-xl-8 col-lg-12 kode_news_colmn_list">
            <div class="kode_news_list">
                <figure>
                    <img src="{{imageUrl}}" alt="News List Image">
                </figure>
                <div class="kode_news_list_des">
                    <span>protest</span>
                    <h6><a href="{{urlTitle}}.html"> {{title}} </a></h6>
                    <div class="kode_author">by <a href="{{urlTitle}}.html"> {{author}}</a>- {{publishDate}}</div>
                    <p>{{contentSmall}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<!--<div class="container">-->
<!--<div class="kode_hdg_1">-->
<!--<h6>Media Conference</h6>-->
<!--<h4>News &amp; Press Release</h4>-->
<!--</div>-->

<!--<div class="kode_press_new_lst">-->
<!--<div class="row">-->
<!--{{#each MediaNewsPressReleaseListPlugin}}-->
<!--<div class="col-lg-4 col-md-4 col-sm-6">-->
<!--<div class="kode_press_news">-->
<!--<figure class="kode_pres1_style">-->
<!--<img src="{{imageUrl}}" alt="Image here"/>-->
<!--<figcaption><a data-rel="prettyPhoto[]" href="{{imageUrl}}"><i class="icon-add52"></i></a>-->
<!--</figcaption>-->
<!--</figure>-->
<!--<div class="kode_news_date">-->
<!--<ul>-->
<!--<li><a href="#">{{publishDate}}</a></li>-->
<!--<li>07 <a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="kode_news_des">-->
<!--<h6><a href="#">{{title}}</a></h6>-->
<!--<p>{{contentSmall}}</p>-->
<!--<a href="{{urlTitle}}.html">Read More <i class="fa fa-long-arrow-right"></i> </a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--{{/each}}-->
<!--</div>-->
<!--</div>-->

<!--<div class="kode_press_link">-->
<!--<a class="kode_link_2" href="#">See More</a>-->
<!--</div>-->

<!--</div>-->
