<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(function () {
            $("#checksanubox").click(function () {
                if ($(this).is(":checked")) {
                    $("#linesanu1").show();
                    $("#linesanu0").hide();

                } else {
                    $("#linesanu0").show();
                    $("#linesanu1").hide();
                }
            });
        });
    });

    $(document).ready(function () {
        $(function () {
            $("#nri").click(function () {
                if ($(this).is(":checked")) {
                    $("#scountry").show();


                } else {

                    $("#scountry").hide();
                }
            });
        });
    });

    </script>



<!--Content Wrap Start-->
<div class="kode_content" style="margin-top:7%">
    <!--Contact Us Wrap Start-->
    <div class="kf_contactus">
        <div class="kf_contact_map">
            <div class="map-canvas" id="map-canvas"></div>
        </div>
    </div>
    <!--Contact Us Wrap End-->
    <!--Get in Touch Form Wrap Start-->
    <section>
        <div class="container" style="margin-top: -79px;">
            <div class="kode_hdg_1">
                <img th:src="|${s3_static_content_dir}/images/sanu.png|" alt="Logo Image Here" style="width:14%;"/>
                <h6>Member Registration Form</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="checkbox">

                                    <label style="margin-bottom: 11px"><input type="checkbox" value="" id="checksanubox"/>Register Member</label>

                                    <h6 id="linesanu0" style="color:black">You are registering as supporter only, to become member please select option above</h6>
                                    <h6 id="linesanu1" style="color:black; display:none">You are registering as member, you will be redirected to pay membership fee of Rs.50</h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="kf_touch_field">
                                    <input class="comming_place" type="text" placeholder="Your Name"/>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="kf_touch_field">
                                    <input class="comming_place" type="text" placeholder="Email Address"/>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="kf_touch_field">
                                    <input class="comming_place" type="text" placeholder="Password"/>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="kf_touch_field">
                                    <input class="comming_place" type="text" placeholder="Confirm Password"/>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" id="nri"/>I am NRI</label>

                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="kf_touch_field">
                                    <select class="comming_place" id="scountry" style="display:none;">
                                        <option value="">Selcet Your Country Where You Live</option>
                                        <option value="Afghanistan(93)">Afghanistan(93)</option>
                                        <option value="Albania(355)">Albania(355)</option>
                                        <option value="Algeria(213)">Algeria(213)</option>
                                        <option value="American Samoa(1 684 )">American Samoa(1 684 )</option>
                                        <option value="Andorra(376)">Andorra(376)</option>
                                        <option value="Angola(244)">Angola(244)</option>
                                        <option value="Anguilla(1 264 )">Anguilla(1 264 )</option>
                                        <option value="Antigua and Barbuda(1 268 )">Antigua and Barbuda(1 268 )</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="kf_touch_field">
                                    <input class="comming_place" type="text" placeholder="Mobile Number" id="mobconno"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="kf_touch_field">
                                    <button class="kode_btn_1">Register</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <!--Get in Touch Form Wrap End-->
</div>
<!--Content Wrap End-->