<div class="kode_content">
    <!--Welcome to Democracy Wrap Start-->
    <section class="kode_about_welcome">
        <div class="container">
            <div class="row">
                <!--  <div class="col-md-5">
                      <div class="kode_welcome">
                          <figure>
                              <img src="/extra-images/welcome-demo-01.jpg" alt="Image Here"/>
                          </figure>
                      </div>
                  </div>-->

                <div class="col-md-12">

                    <div class="kode_news_detail">
                        <h4>{{SingleContentPlugin.title}}</h4>
                        <ul>
                            <li>by <a href="#"> <span>{{SingleContentPlugin.author}}</span> </a>- {{SingleContentPlugin.publishDate}}</li>
                            <li><a href="#"> <i class="fa fa-heart-o"></i>144 </a></li>
                            <li><a href="#"> <i class="fa fa-comment-o"></i>49 </a></li>
                            <li><a href="#"> <i class="fa fa-eye"></i>12,998 </a></li>
                        </ul>


                        {{{SingleContentPlugin.content}}}
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Welcome to Democracy Wrap Start-->



</div>