<div class="kode_content">
    <!--Welcome to Democracy Wrap Start-->
    <section class="kode_about_welcome">
        <div class="container">
            <div class="row">
                <!--  <div class="col-md-5">
                      <div class="kode_welcome">
                          <figure>
                              <img src="/extra-images/welcome-demo-01.jpg" alt="Image Here"/>
                          </figure>
                      </div>
                  </div>-->

                <div class="col-md-12">

                    <div class="kode_news_detail">
                        <h4>{{SingleContentPlugin.title}}</h4>
                        <ul>
                            <li>by <a href="#"> <span>{{SingleContentPlugin.author}}</span> </a>- {{SingleContentPlugin.publishDate}}</li>
                            <li><a href="#"> <i class="fa fa-heart-o"></i>144 </a></li>
                            <li><a href="#"> <i class="fa fa-comment-o"></i>49 </a></li>
                            <li><a href="#"> <i class="fa fa-eye"></i>12,998 </a></li>
                        </ul>


                        {{{SingleContentPlugin.content}}}
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Welcome to Democracy Wrap Start-->
    <!--Become a Volunteer Wrap Start-->
    <section class="kode_volunteer_bg">
        <div class="container">
            <div class="kode_hdg_3">
                <h6>give your best time </h6>
                <h4>become a volunteer</h4>
            </div>

            <div class="kode_volunteer">
                <p>Join us in the fight for a better tomorrow, tomorrow. It’s easy, fun and we need you. Make a difference and help create change for our children’s future,
                    plus the economy. Join today.</p>
            </div>
            <div class="kode_volunteer_btn">
                <a class="donate" href="#">
                    <i class="icon-liquid15"></i>
                    <span>Donate Today</span>
                </a>
                <a class="kf_volunteer" href="#">
                    <i class="fa fa-user"></i>
                    <span>Become voluntree</span>
                </a>
            </div>

        </div>
    </section>
    <!--Become a Volunteer Wrap End-->


</div>