<div class="kode_wrapper">
    <!--Team Wrap Start-->
    <div class="kode-team-intro">
        <div class="container">
            <div class="kode_background">
                <div class="row">
                    <div class="col-md-4">
                        <div class="kode_team_img">
                            <figure>
                                <img th:src="|${s3_static_content_dir}/images/blogs/yy|" alt="Image Here"/>
                            </figure>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="kode_team_img_des">
                            <h4>Adil Mohammad	Ahmed Faheem Khan</h4>
                          <blockquote>
                              <ul>
                                  <li> <span>State</span> : <span>Telangana</span></li>
                                  <li> <span>Role</span>   :<span>Member</span></li>
                                  <li> <span>Email</span>  : <span>adilmohdmail[at]gmail[dot]com</span></li>
                              </ul>
                          </blockquote>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Team Wrap End-->

    <!--Background Wrap Start-->
    <div class="kode-team-bio">
        <div class="container">
            <div class="kode_bground_des">
                <h4>Introduction</h4>

                <p>Adil Mohammed is a Social Activist, and Architect, Media Personality, Host of popular TV show Hum Badlenge Desh Badlega on Etv Urdu. Engineer and Architect by profession in Business heading Apex Group. Former NRI with a 27 years of experience in Infrastructure Projects, with Multinational Companies, overseas and business and development of projects, and real estates and experiences in various related furniture. He is the Charimen Reach NGO, Me Initaive and Convenor PCPT AP. He strives for Justice and Equality for all people of the world. To, contribute towards a change in society. To, Induce positive energy in the system, say no to negativity. He Keeps his Hopes Alive and believes that "The Change is round the corner, things are getting better."</p>

            </div>
        </div>
    </div>
    <!--Background Wrap End-->
    <!--Become a Volunteer Wrap Start-->
    <section class="kode_volunteer_bg">
        <div class="container">
            <div class="kode_hdg_3">
                <h6>give your best time </h6>
                <h4>become a volunteer</h4>
            </div>

            <div class="kode_volunteer">
                <p>Join us in the fight for a better tomorrow, tomorrow. It’s easy, fun and we need you. Make a difference and help create change for our children’s future,
                    plus the economy. Join today.</p>
            </div>
            <div class="kode_volunteer_btn">
                <a class="donate" href="#">
                    <i class="icon-liquid15"></i>
                    <span>Donate Today</span>
                </a>
                <a class="kf_volunteer" href="#">
                    <i class="fa fa-user"></i>
                    <span>Become voluntree</span>
                </a>
            </div>

        </div>
    </section>
    <!--Become a Volunteer Wrap End-->
</div>