
<div class="kode_content">
    <!--Welcome to Democracy Wrap Start-->
    <section class="kode_about_welcome">
        <div class="container">
            <div class="row">
                <!--  <div class="col-md-5">
                      <div class="kode_welcome">
                          <figure>
                              <img src="/extra-images/welcome-demo-01.jpg" alt="Image Here"/>
                          </figure>
                      </div>
                  </div>-->

                <div class="col-md-12">

                    <div class="kode_wel_demo_des">
                        <!--<h6> What is Swaraj Abhiyan?</h6>-->
                        <h5>स्वराज अभियान क्या है?</h5>
                        <h5>हम … </h5>

                        <p> स्वराज अभियान शुभ को सच में बदलने की एक साझी कोशिश है। यह एक सुन्दर देश और दुनिया के सपने को  ​हमारी​
                            और आने वाली पीढ़ियों के लिए साकार करने का आंदोलन है। यह एक सिलसिला है जो बाहर की दुनिया  ​को बदलने के​
                            साथ-साथ खुद अपने भीतर बदलाव के लिए भी तैयार है। यह राजनीति ​को युगधर्म मानकर
                            स्वराज की ओर चला एक​ ​
                            काफिला है। </p>
                        <!--<a class="kode_link_3" href="#">See More <i class="fa fa-angle-right"></i></a>-->
                        <h5>हमारा सपना</h5>

                        <p> हमारे सफर की मंजिल है स्वराज। आज़ादी से पहले स्वराज का मतलब था अंग्रेजों की गुलामी से मुक्ति। आज इसका मतलब है जीवन के हर पहलू में हर किस्म की  ​पराधीनता​
                            से मुक्ति -- भ्रष्टाचार​ के दानव से ​मुक्ति, भय और भूख ​की बेड़ियों से​मुक्ति, ​शोषण और ​अन्याय ​के सामने बेबसी ​से मुक्ति, खुद अपने दिल और दिमाग के बंधनो से मुक्ति। हम ऐसे देश और ऐसी दुनिया का सपना देखते हैं जहां हर इंसान अपनी खुदी को बुलंद कर सके, अपनी खुशी ढूंढ सके, अपनी आत्मा की आवाज़ को सुन और सुना सके। हम  ​चाहते हैं ​
                            एक ऐसी:​ ​
                        </p>
                        <div class="accordion-content goal_des">
                            <ul>
                                <li>राजनैतिक व्यवस्था ​, ​जहाँ देश और देश का हर राज्य, हर गांव, हर बस्ती अपने-अपने दायरे में आजाद हों,  ​हर स्तर पर पारदर्शिता और जवाबदेही हो, ​जहाँ तंत्र पर लोक का अनुशासन हो।</li>

                                <li>अर्थव्यवस्था ​,​जहाँ हर ​हाथ को काम हो, हर काम का मान हो, हर काम को इतना दाम हो कि हर ​कोई अपनी मेहनत की कमाई से खुशहाल ​जिंदगी जी सके। ​​मुनाफ़े की मर्यादा हो ताकि किसी का भोग
                                    बाकी ​ सबकी ​खुशी न छीने​, ​हमारा विकास ​आने वाली पीढ़ियों ​के वाजिब हिस्से और पर्यावरण को नुकसान पंहुचा कर न हो​। </li>
                                <li>सामजिक व्यवस्था ​,जहाँ राज्य, समुदायों और  ​इंसानोंके बीच​ या आपस मेंकिसी तरह की जोर-जबरदस्ती न हो, शोषण, भेदभाव,और नफरत न हो​, जहाँ जीवन के अवसर जन्म के संयोग से न बंधे हों ​</li>

                                <li>शिक्षा  ​व्यवस्था​​,​जो ​सबको, समान रूप से सार्थक ज्ञान और चेतना दे,इंसान को इंसान से जोड़े, सबको देश और दुनिया की ​सांस्कृतिक विरासत से जोड़े,प्रश्न करने  का साहस दे, उत्तर देने की क्षमता ​दे
                                    ।</li>


                            </ul>
                        </div>

                        <h5>Our Inspiration</h5>

                        <p>We are from the land of freedom struggle where we believe in “Vasudhaiva Kutumbakam” where the world is considered a family.
                            We are born out of the seed of anti-corruption movement across India.
                            We are poured in by the struggles and people’s movement of “Jal-Jangal aur Jameen” of post independent India.
                            The philosophy and preamble of Indian constitution is our source of enlightenment.
                            However, we are not restricted by our legacy of any particular culture, ism, holy book or any great soul of the past.
                            While learning from our own legacy,we will move ahead learning with the new experiences of contemporary time and space
                            in quest for answers and new ideas.</p>

                        <h5>Our Path</h5>

                        <p> To magnify the impact of this dream it is important to take the caravan of “Swaraj” to the path of politics.
                            For us, politics is not a career or profession but the “Yugadharma” of our time. Politics not merely limited to
                            fighting elections and forming governments to us. In our alternative narrative of politics, people’s movement and fight for justice will be inherent, productive creativity will be in place,
                            there will be space for principles and ideologies to evolve.Moreover, in addition to fight for bringing change in society there will be continuous struggle for self-renewal and character building.
                            Elections and change of governments must be in conjugation with these arms of principles and that is where the success of an electorate depends, otherwise politics becomes victim of greed for power.
                        </p>

                        <h5>Our Code of Conduct</h5>
                        <p>To prevent us from derailment from the path so that our steps proceed towards achieving the goals we will ensure that our deeds and words are on the same page. That’s why “Swaraj Abhiyan” will make sure of the following:</p>

                        <div class="accordion-content goal_des">
                            <ul>
                                <li>Decisions will be taken in democratic fashion, every colleague and volunteer’s voice will be heard, differences will be respected, leader worshiping will be prevented and emphasis will be given to collective leadership</li>
                                <li>To ensure civility and righteousness a code of conduct will be formulated and to implement this on the leaders and members of the ‘Abhiyana” an independent, responsible and reliable “Lokpal” will be appointed.</li>
                                <li>Federal character of the organization will be respected, preferably decisions will be taken from the grounds and in a centralized fashion, right to information will be ensured, financial transactions will be made public, audacious speeches will not made, everything will be made black and white to public.</li>
                                <li>It will respect the diversity and honestly try to include the marginalized sections of society (woman, dalits, tribals and minorities) and provide proper representation in the leadership of ‘Swaraj Abhiyan’.</li>
                                <li>‘Swaraj Abhiyan’ will cooperate and build honest relationship with other likeminded movements</li>
                            </ul>
                        </div>

                        <h5>Our steps</h5>
                        <h5>To march to the goals ahead, a few steps forward</h5>

                        <div class="accordion-content goal_des">
                            <ul>
                                <li>A nation-wide movement will be built up for the plight of farms and farmers, to prevent the loot of ‘Jal’, ‘Jangal’ and ‘Jameen’, where tribals, non-tribal land lords, landless tenant farmers, sharecroppers, unorganized agricultural labors, fishermen, milk producers can be included.</li>
                                <li>To further strengthen the anti-corruption movement, there will be movement against corruptions associated with establishments, mismanagement of funds by big companies and black money. Grounds will be made for electoral and political reforms</li>
                                <li>Mass awareness, public hearing and people’s movement will be made primordial for fundamental needs like education, health, environment and employment </li>
                                <li>Freedom of conscience and fight against communal violence and hatred will be strengthened. Communial harmony forums (Sadvawana Manch) will be made at every level so that one can learn about the religions, cultures and language of difference while that would help increase respect for the humane values of them. </li>
                                <li>Start movements against anti-woman activities and racial discriminations and create awareness about social justice in society.</li>
                                <li>‘Swaraj Kendras’ will be established at local level so that village and mahallas can be made empowered for implementing and planning projects and citizens can resolve conflicts of their own.</li>
                                <li>On the larger issues associated with the nation, all classes of the country will be taken into consultation to make a renewed work plan so that the idealism in politics remains and the government does not go aimless</li>
                                <li>‘Swaraj Samwad’ will be organized at every corner of the country so that the positive energy associated with the anti-corruption movement may come together and the ray of hope continues to light.</li>
                                <li>‘Swaraj Yatras’ will be organized so that new ideas and energy can be assimilated to the idea of alternative politics</li>

                            </ul>
                        </div>

                        <p>After working with these bay steps ahead, we will have collective observation on what next step would be and when and how we should participate in the politics of change in power and governments</p>

                        <h5>And our Purpose</h5>

                        <p>In this sensitive turnaround of history, India’s future asks future of India; Will it allow the unprecedented energy that appeared after decades in post independent India go astray? Will it allow the breach of trust that was associated with politics for the first time? Will it allow to bury the dream of ‘Swaraj’?</p>

                        <p>Swaraj Abhiyan is firmly determined not to fail this dream. Torch bearing the ideals emerging from ‘Jantar Mantar’ will not be allowed to be doused off. The roads ahead may be difficult, some ‘Yatree’ of our caravan might got tired and remained behind but this march will stop not until the goals are reached. We strongly believe that there is immense possibility within India and Indians. We do believe that the world is not without alternative.</p>

                        <h6>With this conviction and determination, we are on a difficult but beautiful journey ahead. We, meaning all of us, which means you too!</h6>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Welcome to Democracy Wrap Start-->
    <!--Become a Volunteer Wrap Start-->
    <section class="kode_volunteer_bg">
        <div class="container">
            <div class="kode_hdg_3">
                <h6>give your best time </h6>
                <h4>become a volunteer</h4>
            </div>

            <div class="kode_volunteer">
                <p>Join us in the fight for a better tomorrow, tomorrow. It’s easy, fun and we need you. Make a difference and help create change for our children’s future,
                    plus the economy. Join today.</p>
            </div>
            <div class="kode_volunteer_btn">
                <a class="donate" href="#">
                    <i class="icon-liquid15"></i>
                    <span>Donate Today</span>
                </a>
                <a class="kf_volunteer" href="#">
                    <i class="fa fa-user"></i>
                    <span>Become voluntree</span>
                </a>
            </div>

        </div>
    </section>
    <!--Become a Volunteer Wrap End-->


</div>