<ul class="bxslider">
    <li>
        <img th:src="|${s3_static_content_dir}/extra-images/banner-01.jpg|" alt="Banner Image Here"/>
        <div class="kode_caption">

            <!--<section  class="slidertext startAnimation animated fadeInUp"style="opacity: 1;">

                <div class="slidertextinner">
                    <img src="images/logo1.png" style="width:100px; height:97px; margin-left:44%" />
                   <h3>Swaraj</h3>
                    <h3>India</h3>
                </div>
            </section>-->
            <!--<h6>Politics</h6>
            <h2>The Power Of <span> Your Voice </span> </h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, <span>totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span> </p>
            <a class="kode_link_1" href="#">See More <i class="fa fa-angle-right"></i></a>-->

        </div>
    </li>

    <li>
        <img th:src="|${s3_static_content_dir}/extra-images/banner-02.jpg|" alt="Banner Image Here"/>
        <div class="kode_caption">

            <section class="slidertext startAnimation animated fadeInUp" style="opacity: 1;">

                <div class="slidertextinner">
                    <img th:src="|${s3_static_content_dir}/images/logo1.png|" style="width:100px; height:97px; margin-left:44%"/>
                    <h3>Swaraj</h3>
                    <h3>India</h3>
                </div>
            </section>
            <!--<h6>Politics</h6>
            <h2>The Power Of <span> Your Voice </span> </h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, <span>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span> </p>
            <a class="kode_link_1" href="#">See More <i class="fa fa-angle-right"></i></a>-->
        </div>
    </li>

    <li>
        <img th:src="|${s3_static_content_dir}/extra-images/banner-03.jpg|" alt="Banner Image Here"/>
        <div class="kode_caption">
            <section class="slidertext startAnimation animated fadeInUp" style="opacity: 1;">

                <div class="slidertextinner">
                    <img th:src="|${s3_static_content_dir}/images/logo1.png|" style="width:100px; height:97px; margin-left:44%"/>
                    <h3>Swaraj</h3>
                    <h3>India</h3>
                </div>
            </section>
            <!--<h6>Politics</h6>
            <h2>The Power Of <span> Your Voice </span> </h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, <span>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span> </p>
            <a class="kode_link_1" href="#">See More <i class="fa fa-angle-right"></i></a>-->
        </div>
    </li>
</ul>

<div class="kode_breaking_news">
    <div class="kode_breaking_hdg">
        <h6 style="color:black">Updates</h6>
    </div>
    <div class="kode_brekg_news_des">
        <div class="bxslider">
            <div class="item">स्वराज इंडिया : एक नई अखिल भारतीय राजनीतिक पार्टी का ऐलान</div>
            <div class="item">AAP govt's decision of not granting new liquor licences to</div>
            <div class="item">स्वराज अभियानप्रेस नोट : 02 अक्टूबर 2016स्वराज</div>
        </div>
    </div>
</div>
