<div class="sectionwrapper"></div>
<div class="container">
    <div class="row startAnimation animated" data-animate="fadeInUp">
        <div class="col-lg-12">
            <div class="mainheadlinewrapper">
                <div class="mainheadline textleft startAnimation animated" data-animate="fadeInUp">
                    <h3 style="color:rgba(255, 255, 255, 0.9);margin-top: -34px;">Frequently Asked Questions</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container startAnimation animated" data-animate="fadeInUp">
    <div class="row">
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>01.</p>
            </div>
            <div class="eventstext">
                <h4 style="color:rgba(255, 255, 255, 0.9)">Question One</h4>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    Aenean solli citudin nibhquise vel velit auctor aliquet. Aenean solli citudin nibhquise vel velit auctor aliquet.
                </p>
            </div>
        </div>
        <!-- one row end -->
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>02.</p>
            </div>
            <div class="eventstext">
                <h4 style="color:rgba(255, 255, 255, 0.9)">Question Two</h4>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    Aenean solli citudin nibhquise vel velit auctor aliquet. Aenean solli citudin nibhquise vel velit auctor aliquet.
                </p>
            </div>
        </div>
        <!-- one row end -->
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>03.</p>
            </div>
            <div class="eventstext">
                <h4 style="color:rgba(255, 255, 255, 0.9)">Question Three</h4>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    Aenean solli citudin nibhquise vel velit auctor aliquet. Aenean solli citudin nibhquise vel velit auctor aliquet.
                </p>
            </div>
        </div>
        <!-- one row end -->
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>04.</p>
            </div>
            <div class="eventstext">
                <h4 style="color:rgba(255, 255, 255, 0.9)">Question Four</h4>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    Aenean solli citudin nibhquise vel velit auctor aliquet. Aenean solli citudin nibhquise vel velit auctor aliquet.
                </p>
            </div>
        </div>
        <!-- one row end -->
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>05.</p>
            </div>
            <div class="eventstext">
                <h4 style="color:rgba(255, 255, 255, 0.9)">Question Five</h4>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    Aenean solli citudin nibhquise vel velit auctor aliquet. Aenean solli citudin nibhquise vel velit auctor aliquet.
                </p>
            </div>
        </div>
        <!-- one row end -->
        <!-- one row -->
        <div class="onelist col-lg-6">
            <div class="faqicon">
                <p>06.</p>
            </div>
            <div class="eventstext">
                <h4 style="color:rgba(255, 255, 255, 0.9)">Question Six</h4>
                <p style="color:rgba(255, 255, 255, 0.9)">
                    Aenean solli citudin nibhquise vel velit auctor aliquet. Aenean solli citudin nibhquise vel velit auctor aliquet.
                </p>
            </div>
        </div>
        <!-- one row end -->
    </div>
</div>