<ul class="bxslider">
    <li>
        <img th:src="|${s3_static_content_dir}/extra-images/banner-01.jpg|" alt="Banner Image Here"/>
    </li>

    <li>
        <img th:src="|${s3_static_content_dir}/extra-images/banner-02.jpg|" alt="Banner Image Here"/>
    </li>

    <li>
        <img th:src="|${s3_static_content_dir}/extra-images/banner-03.jpg|" alt="Banner Image Here"/>
    </li>
</ul>

<div class="kode_breaking_news">
    <div class="kode_breaking_hdg">
        <h6 style="color:black">Updates</h6>
    </div>
    <div class="kode_brekg_news_des">
        <div class="bxslider">
            {{#if NewsPressReleaseUpdatePlugin}}
            {{#each comments}}
            <div class="item">SHOULD NOT स्वराज इंडिया : एक नई अखिल भारतीय राजनीतिक पार्टी का ऐलान</div>
            {{/each}}

            {{else}}
            <div class="item">स्वराज इंडिया : एक नई अखिल भारतीय राजनीतिक पार्टी का ऐलान</div>
            <div class="item">AAP govt's decision of not granting new liquor licences to</div>
            <div class="item">स्वराज अभियानप्रेस नोट : 02 अक्टूबर 2016स्वराज</div>
            {{/if}}


        </div>
    </div>
</div>
