<!--Team Listing Wrap Start-->
<section class="kf_team_listing_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="kode_politician">
                    <figure>
                       <a href="/team-details.html"><img th:src="|${s3_static_content_dir}/extra-images/politician-01.jpg|" alt="Image Here"/></a>
                        <figcaption class="kode_poli_img_des">
                            <h6><a href="/team-details.html">Adil Mohammad</a></h6>
                            <span>Member</span>
                            <p>
                                Adil Mohammed is a Social Activist, and Architect Media Personality, Host of popular TV show Hum Badlenge Desh Badlega on Etv Urdu.Engineer and Architect by profession in Business heading Apex Group.Former NRI with a 27 years of experience in Infrastructure Projects,with Multinational Companies.
                                </p>

                        </figcaption>
                    </figure>

                        <div class="kode_politician_des">
                        <h6><a href="/team-details.html">Adil Mohammad</a></h6>
                        <p>Member</p>


                            <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="kode_politician">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/politician-02.jpg|" alt="Image Here"/>
                        <figcaption class="kode_poli_img_des">
                            <h6><a href="team-detail.html">Sara Edward</a></h6>
                            <span>Legal State Advisor</span>
                            <p>2001 Graduate Columbia University in the City of New York, Department of Political Science. Author of numerous articles on Economics and Public
                                Management.</p>
                        </figcaption>
                    </figure>
                    <div class="kode_politician_des">
                        <h6><a href="team-detail.html">Sara Edward</a></h6>
                        <p>Adviser</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-support"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="kode_politician">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/politician-03.jpg|" alt="Image Here"/>
                        <figcaption class="kode_poli_img_des">
                            <h6><a href="team-detail.html">Mark Henry</a></h6>
                            <span>Health &amp; State Minister</span>
                            <p>2001 Graduate Columbia University in the City of New York, Department of Political Science. Author of numerous articles on Economics and Public
                                Management.</p>
                        </figcaption>
                    </figure>
                    <div class="kode_politician_des">
                        <h6><a href="team-detail.html">Mark Henry</a></h6>
                        <p>Minister</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-support"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="kode_politician">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/politician-04.jpg|" alt="Image Here"/>
                        <figcaption class="kode_poli_img_des">
                            <h6><a href="team-detail.html">Jane Doe</a></h6>
                            <span>Payroll Coordinator</span>
                            <p>2001 Graduate Columbia University in the City of New York, Department of Political Science. Author of numerous articles on Economics and Public
                                Management.</p>
                        </figcaption>
                    </figure>
                    <div class="kode_politician_des">
                        <h6><a href="team-detail.html">Jane Doe</a></h6>
                        <p>Payroll Coordinator</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-support"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="kode_politician">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/politician-05.jpg|" alt="Image Here"/>
                        <figcaption class="kode_poli_img_des">
                            <h6><a href="team-detail.html">Jack Smith</a></h6>
                            <span>Senior Campaign Strategist</span>
                            <p>2001 Graduate Columbia University in the City of New York, Department of Political Science. Author of numerous articles on Economics and Public
                                Management.</p>
                        </figcaption>
                    </figure>
                    <div class="kode_politician_des">
                        <h6><a href="team-detail.html">Jack Smith</a></h6>
                        <p>Adviser</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-support"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="kode_politician">
                    <figure>
                        <img th:src="|${s3_static_content_dir}/extra-images/politician-06.jpg|" alt="Image Here"/>
                        <figcaption class="kode_poli_img_des">
                            <h6><a href="team-detail.html">Julia Mark</a></h6>
                            <span>Senior Advisor</span>
                            <p>2001 Graduate Columbia University in the City of New York, Department of Political Science. Author of numerous articles on Economics and Public
                                Management.</p>
                        </figcaption>
                    </figure>
                    <div class="kode_politician_des">
                        <h6><a href="team-detail.html">Julia Mark</a></h6>
                        <p>Senior Advisor</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-support"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Team Listing Wrap End-->